<html>
    <head>
        <title>Väder Lilla Havedal</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <form action="/login" method="POST">
            <div class="login">
                <div class="login-screen">
                    <div class="app-title">
                        <h1>Väder</h1>
                    </div>
                    <div class="content">
                        <div class="measurement">
                            <h2>Temperaturen: </h2><h1>{{ temp }} grader</h1>
                            <h3>Max: {{temp_max}} Min: {{temp_min}}</h3>
                        </div>
                        <div class="measurement">
                            <h2>Det blåser: </h2><h1>{{ wind }} m/s</h1>
                        </div>
                        <div class="measurement">
                            <h2>Det har regnat: </h2><h1>{{ rainfall }} mm</h1>
                        </div>
                        <form action="/" method="post">
                            <button class="btn" name="updateBtn" type="submit">Uppdatera</button>
                            <button class="btn" name="resetBtn" type="submit">Återställ</button>
                        </form>
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>