<html>
    <head>
        <title>Väder Lilla Havedal</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
	<body>
		<form action="/login" method="POST">
			<div class="login">
				<div class="login-screen">
					<div class="app-title">
						<h1>Logga in</h1>
					</div>
					{% with messages = get_flashed_messages() %}
				        {% if messages %}
				            <ul class=flashes>
				            {% for message in messages %}
				              <li>{{ message }}</li>
				            {% endfor %}
				            </ul>
				        {% endif %}
				    {% endwith %}
					<div class="login-form">
						<div class="control-group">
										<input type="text" class="login-field" value="" placeholder="användarnamn" name="username">
						<label class="login-field-icon fui-user" for="login-name"></label></div>
						<div class="control-group">
										<input type="password" class="login-field" value="" placeholder="lösenord" name="password">
						<label class="login-field-icon fui-lock" for="login-pass"></label></div>
						<input type="submit" value="Logga in" class="btn btn-primary btn-large btn-block" name="loginBtn">
					</div>
				</div>
			</div>
		</form>
	</body>
</html>